{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email">
<div class="utype">
  
      <label for="user">
        <input type="radio" name="utype" id="user" value="user" checked>user
      </label>
      <label for="student">
          <input type="radio" name="utype" id="student" value="student">student
      </label>
      <label for="teacher">
        <input type="radio" name="utype" id="teacher" value="teacher">teacher
      </label>
      <label for="admin">
        <input type="radio" name="utype" id="admin" value="admin">admin
      </label>
</div>
    <input type="submit" value="Register">
  </form>
{% endblock %}