{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Exam{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('exam.setqst') }}">setqst</a>
  {% endif %}
{% endblock %}

{% block content %}
<div>
  <form action="{{url_for('exam.exam',course=course)}}" method="post">
      {% for test in tests %}
      <h4>{{loop.index}}. {{test.timu}}</h4>
      <input type="radio" name="{{test.id}}" value="A">{{test.A}}<br>
      <input type="radio" name="{{test.id}}" value="B">{{test.B}}<br>
      <input type="radio" name="{{test.id}}" value="C">{{test.C}}<br>
      <input type="radio" name="{{test.id}}" value="D">{{test.D}}
      <!-- <input type="hidden" name="testid{{test.id}}" value="{{test.id}}"> -->
      {% endfor %}
  <br>
  <input type="submit" value="交卷">
  </form>

</div>
{% endblock %}