{% extends 'base.html' %}


{% block content %}

    <form action="zxct" method="post">
        <p>
           <select name="course" value="course">
               {% for course in courses %}
               <option name="course">{{ course.cname }}</option>
               {% endfor %}
           </select>
        </p>
        <p>
            题目: <input type="text" name="timu">
        </p>
        <p>
            选项A: <input type="text" name="A">
        </p>
        <p>
            选项B: <input type="text" name="B">
        </p>
        <p>
            选项C: <input type="text" name="C">
        </p>
        <p>
            选项D: <input type="text" name="D">
        </p>
        <p>
            答案:       <input type="radio" name="answer" value="A">A
            <input type="radio" name="answer" value="B">B
            <input type="radio" name="answer" value="C">C
            <input type="radio" name="answer" value="D">D
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
        <p>
            <a href="{{url_for('index')}}">返回</a>
        </p>

    </form>

{% endblock %}
