<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        button{
            margin: 50px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <a href="/queryall_score">
        <input type="button" value="查看成绩">
    </a>
    <a href="/add_score">
        <input type="button" value="添加成绩">
    </a>

</body>
</html>