<html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>学生管理系统登陆界面</title>
</head>

<body>

<form method="POST" action="--WEBBOT-SELF--">
	<!--webbot bot="SaveResults" U-File="\\tsclient\__\html\_private\form_results.csv" S-Format="TEXT/CSV" S-Label-Fields="TRUE" -->
	<p>学生管理系统登陆界面</p>
	<p><input type="text" name="username" size="20"></p>
</form>
<p><input type="password" name="password" size="20"></p>
<p><input type="submit" value="登陆" name="login_button">&nbsp;&nbsp;
<input type="submit" value="忘记密码" name="forgotp_button"></p>

</body>

</html>
