<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="02-zxct" method="post">
        <p>
           <select name="zxct" value="course">
               {% for course in courses %}
               <option name="{{ course.cid }}">{{ course.cname }}</option>
               {% endfor %}
           </select>
        </p>
        <p>
            题目: <input type="text" name="timu">
        </p>
        <p>
            选项A: <input type="text" name="A">
        </p>
        <p>
            选项B: <input type="text" name="B">
        </p>
        <p>
            选项C: <input type="text" name="C">
        </p>
        <p>
            选项D: <input type="text" name="D">
        </p>
        <p>
            答案: <input type="text" name="answer">
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
        <p>
            <a href="/01-file">返回</a>
        </p>

    </form>
</body>
</html>