<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .tea{
            width: 100px;
            height: 100px;
            border:2px solid black;
            border-radius: 50%;
            float:right;
            text-align: center;
            line-height: 100px;
        }
        div{
            clear: both;
        }
    </style>
</head>
<body>
{#    <form action="/login" method="GET">#}
        <p class="tea">
            <a href="/queryall_teacher">
                头像
            </a>
        <div>
            <p>
                <a href="/test">
                        <input type="button" value="出题系统">
                </a>
                <a href="/scoremanager">
                        <input type="button" value="成绩管理">
                </a>
                <a href="">
                        <input type="button" value="签到系统">
                </a>

            </p>
        </div>
        </p>

{#    </form>#}

</body>
</html>